/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Image Cover Section */
.img_cover {
    background-image: url('/sanasifnaz.webp');
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.logo img {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    max-width: 350px;
    height: auto;
}

.Select_Country {
    padding: 5px 20px;
    border: 1px solid black;
    height: 50px;
    border-radius: 10px;
    color: #282828;
    width: 80%;
    max-width: 350px;
    font-size: 1rem;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
}

.btn {
    cursor: pointer;
    background-color: #2d2b2a;
    color: white;
    width: 100%;
    max-width: 200px;
    height: 40px;
    min-height: 40px;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    margin: auto;
    margin-top: 1.5rem;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

/* Media Queries */

/* For Small Devices (up to 390px) */
@media (max-width: 390px) {
    .img_cover {
        background-size: auto;
    }

    .logo img {
        width: 75%;
    }

    .Select_Country {
        width: 75%;
        font-size: 0.9rem;
    }

    .btn {
        width: 70%;
        font-size: 1.2rem;
    }
}

/* For Medium Devices (up to 768px) */
@media (max-width: 768px) {
    .img_cover {
        background-image: url('/Country-Banner-for-Mobile-.webp');
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .Select_Country {
        width: 80%;
        font-size: 1rem;
    }

    .btn {
        width: 50%;
        font-size: 1.4rem;
    }
    .logo img {
        width: 90%;
    }
}

/* For Large Devices (above 768px) */
@media (min-width: 769px) {
    .img_cover {
        background-image: url('/sanasifnaz.webp');
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .Select_Country {
        width: 100%;
        font-size: 1.1rem;
    }

    .btn {
        width: 50%;
        font-size: 1.5rem;
    }
    .logo img {
        width: 100%;
    }
}
