<main>
    <div class="container-fluid p-0">
        <div class="gallery">
            <section class="gallery-section" id="section1">
                <a href="/Unstitched"> <img src="images/Muzlin-Winter-2024-MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image" </a>
            </section>
            <section class="gallery-section" id="section2">
                <a href="/Stitched"> <img src="images/RTW-September-2024_MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image" </a>
            </section>
            <section class="gallery-section" id="section3">
                <img src="images/Mahay-Winter-2024-MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section4">
                <img src="images/Nura-September-2024-MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section5">
                <img src="images/WESST-July-2024-MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section6">
                <img src="images/RTW-September-2024-Kids_MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section7">
                <img src="images/Footwear-September-2024-MAIN-WEB-BANNER-1920-X-750-1.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section8">
                <img src="images/Perfume-August-2024-MAIN-BANNER.webp" class="img-fluid" alt="Banner Image">
            </section>
            <section class="gallery-section" id="section9">
                <img src="images/Home-23-New-MAIN-BANNER.webp" class="img-fluid" alt="Banner Image">
            </section>
        </div>
    </div>
</main>